node_modules
.venv
.git
.env
build
dist
```[[1](https://www.google.com/url?sa=E&q=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fgrounding-api-redirect%2FAUZIYQGZGqsuT03iHZQtr0S3EJrSArvmGc65uaKL2zXp7eE0QdKolrEpjR-hQRrVuLox3SvH7Ld6r8IZ7VaIOYFz9MheoyHYgmP39aubooqSB2JvEvEwpqIowW8Pdp-IYIei_SmhaGRY9R4mYBnDkTHR4h1S2X57YwcswF-i)]